
{% extends "layout.html" %}

{% block body_content %}

<H1>CarMatch app</H1>
<br>

<p>Welcome to the CarMatch app®. This app has been created to take the hassle out of choosing a car.
      We use sophisticated algorithms, complex calculations and a bit of good old magic to choose the car of your dreams.
      Simply select the option that best describes you in order for us to create your perfect CarMatch®.
      Once you're happy with your match simply click "confirm my selection"
      and you'll be take to the purchase page.</p><p> If at any point you want to restart the app, just click on the "CarMatch"
      button at the top of this page.</p>
<br><br>
<a href="http://127.0.0.1:8000/golfr"><button type="button" class="btn btn-secondary btn-lg">I love going fast</button></a>
<button type="button" class="btn btn-secondary btn-lg">I like to save money</button>
<a href="http://127.0.0.1:8000/model3"><button type="button" class="btn btn-secondary btn-lg">Electricity is the future</button></a>
<a href="http://127.0.0.1:8000/rangerover"><button type="button" class="btn btn-secondary btn-lg">I prefer mud to tarmac</button></a>

<br><br>

<!--<button type="button" class="btn btn-secondary btn-lg">Boot space is my thing</button>-->
<!--<button type="button" class="btn btn-secondary btn-lg">Loud noises!</button>-->
<!--<button type="button" class="btn btn-secondary btn-lg">I'm all about family life</button>-->
<!--<button type="button" class="btn btn-secondary btn-lg">Heaven is a road trip</button>-->




{% endblock %}


