{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Volkswagen Golf R</h1>
<br><br><br>
<p>We think your perfect match is the Golf R. If you want to fine tune, use the buttons below. </p>


</div>
<br><br>

<img src="{{ url_for('static', filename='images/golfr.png') }}" />

<br><br><br>

<h2> Spec Overview</h2>
<br>
<p>Price - £42,000 to £48,000</p>
<p>Fuel Economy 34.9MPG, Top Speed: 155 - 167MPH</p>
<p>Horse Power: 288HP, 0 to 60: 3.9 Seconds, 100MPH: 10 Seconds</p>
<p>Length: 168 Inches, Width: 70 Inches, Height: 57.7 Inches  </p>
<br><br>
<p>Going from 0 to 60 mph in just 3.9 seconds with a top speed of 155 mph,
        the TSI engine develops 420 Newton metres of torque and an output of
        320 PS which demonstrates what R is capable of. Its power is distributed with
        variable control thanks to the 4MOTION all-wheel drive system with R-Performance
        torque vectoring on the rear axle. Specially tailored for the Nordschleife track at
        Nürburgring, the Golf R with the optional R Performance package lifts the electronic
        limiter to the top speed, taking it from 155 mph to 167 mph, and also offers two exclusive
        driving profiles: the Nürburgring profile “Special” and the “Drift” profile for optimum driving
        dynamics for private roads.</p>

<a href="http://127.0.0.1:8000/rs3"><button type="button" class="btn btn-secondary btn-lg">Great, but make it faster</button></a>
<a href="http://127.0.0.1:8000/model3"><button type="button" class="btn btn-secondary btn-lg">More electricity please</button></a>
<a href="http://127.0.0.1:8000/purchase_golfr"><button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button></a>




{% endblock %}