{% extends "layout.html" %}
{% block body_content %}

<p>Welcome to Car Matchr</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint quae harum amet
    blanditiis eligendi in et nesciunt nemo natus qui
    maiores autem doloremque, officiis enim voluptatum,
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
    sint quae harum amet blanditiis eligendi in et nesciunt nemo natus qui
    maiores autem doloremque, officiis enim voluptatum, distinctio nulla a.
    distinctio nulla a.</pr>


{% endblock %}