{% extends "layout.html" %}
{% block body_content %}

<div class="row">
    <div class="col-sm-4">
    </div>


    <br>
</div>
<br>

<h1>Welcome to CarMatch®</h1>
<br>
<div class="row">
    <div class="col-sm-0"></div>

    <div class="col-sm-6">
        <p>Struggling to find the right car? You've come to the right place! Here at CarMatch® we specialise in finding
            people their perfect match.
            Be it a 2 seater sports coupe, or a 7 seater family wagon - we've got you covered. Don't just take our word
            for it. Check out some of our
            user reviews below!
        </p>
    </div>

</div>

<br><br><br>
    <!--reviews-->
    <!--row 1-->

    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">James R, Wales | 4* </div>
            <div class="card-body">
              <h5 class="card-title">1990 Austin Maestro</h5>
              <p class="card-text">Thanks to CarMatch I've purchased my dream car, an Austin Maestro! Everywhere I go people admire my ride, I love it!  </p>
            </div>
          </div>
          
          <div class="col-sm-1">
        </div>

    
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Anthony I, London | 5* </div>
            <div class="card-body">
              <h5 class="card-title">2019 Ford Transit Custom</h5>
              <p class="card-text">Where would I be without CarMatch? Driving a Nissan Micra, that's where. Thanks so much for helping me choose my car!</p>
            </div>
          </div>

          <div class="col-sm-1">
        </div>

          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Neil W, Scotland | 5* </div>
            <div class="card-body">
              <h5 class="card-title">2010 Hummer H2</h5>
              <p class="card-text">Now I've got my Hummer everyone gets out of the way. Now I can just drive over other cars when I can't find a parking space!</p>
            </div>
          </div>


        
        <div class="col-sm-6"></div>

    </div>
<br><br><br><br><br><br>
    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Jamie G, Stockport | 4* </div>
            <div class="card-body">
              <h5 class="card-title">2016 Golf GTI</h5>
              <p class="card-text">Thanks so much CarMatch for matching me with my new Golf GTI. It's quick, efficient and carries the shopping!  </p>
            </div>
          </div>
          
          <div class="col-sm-1">
        </div>

    
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Dan B, Bolton |5* </div>
            <div class="card-body">
              <h5 class="card-title">2020 Ford Mustang</h5>
              <p class="card-text">I've always owned smaller hatchbacks, but CarMatch recommended I buy a Mustang and it's the best decision I've ever made!</p>
            </div>
          </div>

          <div class="col-sm-1">
        </div>

          <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Chit A, London | 5*</div>
            <div class="card-body">
              <h5 class="card-title">2010 Porsche 911 </h5>
              <p class="card-text">As a massive Porsche fan I don't think CarMatch could've picked a better car for me. Absolutely brilliant service.</p>
            </div>
          </div>


        
        <div class="col-sm-6"></div>

    </div>

    



    

</body>

</html>


{% endblock %}