{% extends "layout.html" %}
{% block body_content %}
    <h1>Become a CarMatch Member!</h1>
    <p>Please fill in your details below to be kept up to date with all of the
    latest CarMatch offers.</p>
<div class="row">
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }}<div class="col-sm-1"></div> {{ form.first_name }}
                <br><br>
                {{ form.last_name.label }}<div class="col-sm-1"></div> {{ form.last_name }}
                <br><br>

                {{ form.age.label }} <div class="col-sm-1"></div> {{ form.age }}
                <br><br>
                 {{ form.email.label }} <div class="col-sm-1"></div>{{ form.email }}
                <br><br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
</div>
{% endblock %}