{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Tesla Model 3</h1>
<br><br><br>
<p>We think your perfect match is the Model 3. If you want to fine tune, use the buttons below. </p>



</div>
<br><br>

<img src="{{ url_for('static', filename='images/model3.png') }}" />

<br><br><br>
<p> The Tesla Model 3 is a compact executive sedan that is battery powered and produced by Tesla.
    Limited production of the Model 3 began in mid-2017, with the first production vehicle rolling
    off the assembly line on July 7, 2017. The official launch and delivery of the first 30 cars took
    place on July 28.
    The base Model 3 delivers an EPA-rated all-electric range of 272 miles (438 km) and the Long Range
    version delivers 358 miles (576 km). According to Tesla, the Model 3 carries full self-driving hardware,
    with periodic software updates adding functionality.
    The Model 3 was marketed as being more affordable to more people than previous models by Tesla. Since early 2020,
    the Model 3 is the bestselling electric car in world history, and, in June 2021, became the first electric car
    to pass the 1 million global sales milestone. The Model 3 has been the world's top selling plug-in electric car
    (PEV) for three years running, from 2018 to 2020. It has also been the bestselling PEV in the United States for three
    consecutive years, 2018 to 2020, the top selling PEV in Europe in 2019,[24] and the bestselling PEV in China
    in 2020.
</p>

<a href="http://127.0.0.1:8000/models"><button type="button" class="btn btn-secondary btn-lg">Great, but make it sportier</button></a>
<a href="http://127.0.0.1:8000/ioniq"><button type="button" class="btn btn-secondary btn-lg">Not that fast!</button></a>
<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}