{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Tesla Model 3</h1>
<br><br><br>
<p>We think your perfect match is the Model 3. If you want to fine tune, use the buttons below. </p>



</div>
<br><br>

<img src="{{ url_for('static', filename='images/model3.png') }}" />

<br><br><br>
<p>The Ioniq 5 family hatchback represents a real shift forward in Hyundai’s ability to chase
    down premium electric rivals, helping to persuade EV buyers who are motivated by stylish design,
    great on-board tech and practical range and charging speeds, to invest in the Korean brand.
With stunning looks and a sense of cool that sets it apart from the pack, the
    manufacturer has added to the Ioniq 5’s strong kerb appeal with competitive pricing,
    generous standard kit and advanced active safety systems. We named it our 2021 Car of the Year,
    so if you’re thinking of a new purchase and you have the means,
    then the Hyundai Ioniq 5 is one of the best cars you can buy</p>

<a href="http://127.0.0.1:8000/models"><button type="button" class="btn btn-secondary btn-lg">Great, but make it sportier</button></a>
<a href="http://127.0.0.1:8000/ioniq"><button type="button" class="btn btn-secondary btn-lg">Not that fast!</button></a>
<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}