{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Tesla Model 3</h1>
<br><br><br>
<p>We think your perfect match is the Model 3. If you want to fine tune, use the buttons below. </p>

<h1>IMG HERE UNSURE HOW</h1>

</div>
<br><br>
<p>Tesla All-Wheel Drive has two independent motors for improved redundancy,
  each with only one moving part for minimal maintenance and maximum durability. Unlike traditional all-wheel drive systems,
  they digitally control torque to the front and rear wheels for far better handling and traction control.
    Safety is the most important part of the overall Model 3 design.
    The metal structure is a combination of aluminium and steel,
    for maximum strength in every area. In a roof-crush test, Model 3 resisted four times its own mass,
    even with an all-glass roof: that's the same weight as two full-grown African elephants.</p>

<button type="button" class="btn btn-secondary btn-lg">Great, but make it sportier</button>
<button type="button" class="btn btn-secondary btn-lg">Not that fast!</button>
<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}