{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Austin Maestro</h1>
<br><br><br>
<p>Erm, yeah.. This one's on you. </p>


</div>
<br><br>

<img src="{{ url_for('static', filename='images/maestro2.png') }}" />

<br><br><br>

<p>You really chose this from every other option? OK... erm, enjoy? </p>

<a href="https://www.ebay.co.uk/itm/225231306752?hash=item3470d50000:g
:lY8AAOSw9dZjTwwD&amdata=enc%3AAQAHAAAAoAH417VaHRZXP7llasK84%2FvU
WfZ5RFjkWoTUTnIoYikLxePyBuM9Ouahc8HRvdFY%2FO%2F7XRWizQMKGxechjk
bcrhpZr2y1kFWPuH%2FxBOyFQBoc8jgF2KH3%2B5uk3CXA9G1xAnMb%2F8sfTOY
tfLcijt5cbbOSJ5r8XnCAnYboieivsADydiuGTdfvvniRXuYDED3ZulVbuYZY1Ag
KFzJjxKBND0%3D%7Ctkp%3ABk9SR7Ct9eOMYQ"><button type="button" class="btn btn-secondary btn-lg">Purchase</button></a>



{% endblock %}