{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Audi RS6</h1>
<br><br><br>
<p>Fast estates are cool and nobody does it better than Audi.</p>


</div>
<br><br>

<img src="{{ url_for('static', filename='images/rs62.png') }}" />

<br><br><br>

<p>You've made a fantastic choice with this RS6. If you'd like to purchase it, simply follow the below link
        to purchase one of the fastest estates money can buy.</p>

<a href="https://www.audi.co.uk/uk/web/en.html"><button type="button" class="btn btn-secondary btn-lg">Purchase</button></a>



{% endblock %}