{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Range Rover Sport</h1>
<br><br><br>
<p>We think your perfect match is the Range Rover Sport. If you want to fine tune, use the buttons below. </p>



</div>
<br><br>

<img src="{{ url_for('static', filename='images/rangeroversport.png') }}" />

<br><br><br>
<p>New Range Rover Sport’s imposing road presence is derived from its muscular stance, dramatic proportions and short overhangs.
    23” wheels in a range of finishes are available. The vehicle’s profile is unmistakable
    Range Rover Sport Dynamic brings distinctive design touches. Featuring Satin Burnished Copper details,
    unique bumpers and Matte Graphite lettering, amplifying attitude and assertive presence.
    Taut body surfaces convey power and performance, while the stealth-like headlights, grille and
    sculpted lower bumper exude confidence and attitude.
    The uninterrupted tail-light graphic sets the rear apart.</p>


<a href="http://127.0.0.1:8000/rivian"><button type="button" class="btn btn-secondary btn-lg">More electricity please</button></a>

<a href="http://127.0.0.1:8000/purchase_rangeroversport"><button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button></a>




{% endblock %}