{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Range Rover</h1>
<br><br><br>
<p>We think your perfect match is the Range Rover. If you want to fine tune, use the buttons below. </p>



</div>
<br><br>

<img src="{{ url_for('static', filename='images/rangerover.png') }}" />

<br><br><br>
<p>The reductive nature of the design is free from superfluous detail,
  resulting in a form which has breathtaking modernity. This is the most desirable Range Rover ever created.
  A modern and sophisticated interior, underpinned by exquisite detailing and an intuitive approach to relevant technology.
Range Rover’s technology is designed to make your life easier, from a host of driving features to our award-winning* infotainment system, Pivi Pro.</p>

<a href="http://127.0.0.1:8000/rangeroversport"><button type="button" class="btn btn-secondary btn-lg">Great, but make it sportier</button></a>
<a href="http://127.0.0.1:8000/rivian"><button type="button" class="btn btn-secondary btn-lg">More electricity please</button></a>
<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}