{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Audi RS3</h1>
<br><br><br>
<p>We think your perfect match is the RS6. If you want to fine tune, use the buttons below. </p>

<h1>IMG HERE UNSURE HOW</h1>

</div>
<br><br>
<p>With this firecracker of an engine under the bonnet, Audi claims the RS3 can dash from 0-60mph in 3.8 seconds,
  but we’ve managed to do that sprint in just 3.6 seconds. That’s almost supercar-beating numbers from a (not so) humble hatchback.
  By adding some clever mechanical upgrades, the RS3 is more nimble and entertaining out on your favourite twisty
  road than ever before, and on track it’s even more of a scalpel-sharp driving weapon. If you feel like it, there’s even a drift mode to help you do some big skids with ease (on a closed circuit, of course).
  But the RS3 isn’t hardcore all of the time, and can in fact settle down very nicely when you want it to.
  In town, it doesn’t feel too firm like some hot hatches do, and it behaves over bumps and cracks –
  just be careful not to kerb those black alloy wheels! On the motorway, it feels comfortable and smooth –
  and you have that massive power on tap whenever you need it. - carwow</p>

<a href="http://127.0.0.1:8000/rs6"><button type="button" class="btn btn-secondary btn-lg">Even faster please!</button></a>
<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}