{% extends "layout.html" %}

{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

<h1>Audi RS6</h1>
<br><br><br>

<p>We think your perfect match is the RS3. If you want to fine tune, use the buttons below. </p>



</div>
<br><br>



<img src="{{ url_for('static', filename='images/rs6.png') }}" />

<br><br><br>

 <h2> Spec Overview</h2>
<p> price - £119,000 to £126,000 Fuel Economy: 22 MPG Top Speed: 155 - 167MPH Horse Power: 591HP 0 to 60: 3.1 Seconds
        100MPH: 7.8 Seconds Length: 196.8 Inches width: 76.8 Inches Height: 58.6 Inches </p>

<p>WWith a 4.0-litre V8 twin-turbo TFSI engine with quattro permanent all-wheel drive and optional dynamic packages,
you can accelerate from 0 to 62 mph in just 3.6 seconds.
The suspension of the Audi RS 6 Avant lets you pull out all the stops. The various driving modes allow
you to cater your journeys to long-distance comfort or performance, and the RS
air suspension plus Dynamic all-wheel steering promises enhanced dynamic cornering performance and driving stability. - carwow</p>

<a href="http://127.0.0.1:8000/carmatch"><button type="button" class="btn btn-secondary btn-lg">Did we get it wrong? Start again.</button></a>

<button type="button" class="btn btn-secondary btn-lg">Perfect, confirm my selection</button>




{% endblock %}

