{% extends "layout.html" %}
{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-5">

            <h1 class="carmatchlogo">CarMatch®</h1>

        </div>
</div>

<p>Carmatch Showroom</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint quae harum amet
    blanditiis eligendi in et nesciunt nemo natus qui
    maiores autem doloremque, officiis enim voluptatum,
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
    sint quae harum amet blanditiis eligendi in et nesciunt nemo natus qui
    maiores autem doloremque, officiis enim voluptatum, distinctio nulla a.
    distinctio nulla a.</pr>


{% endblock %}