{% extends "layout.html" %}
{% block body_content %}
<div class="row">
        <div class="col-sm-4">
        </div>

       
</div>

<p>Carmatch Showroom</p>

 <div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
             <img src="{{ url_for('static', filename='images/golfr.png') }}" class="card-img-top" height="200"alt="Golf">
             <div class="card-body">
             <h5 class="card-title">Golf</h5>
             <p class="card-text">Text space</p>
             <a href="http://127.0.0.1:8000/golfr" class="btn btn-primary">Golf</a>
             </div>
          </div>
      </div>
          <div class="col-sm-2">
            <div class="card" style="width: 14rem;">
              <img src="{{ url_for('static', filename='images/rs3.png') }}" class="card-img-top" height="200" alt="RS3">
              <div class="card-body">
              <h5 class="card-title">RS3</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/rs3" class="btn btn-primary">RS3</a>
              </div>
            </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
             <img src="{{ url_for('static', filename='images/rangerover.png') }}" class="card-img-top" height="200" alt="RangeRover">
             <div class="card-body">
               <h5 class="card-title">Range Rover</h5>
               <p class="card-text">Text Space </p>
               <a href="http://127.0.0.1:8000/rangerover" class="btn btn-primary">Range Rover</a>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
            <img src="{{ url_for('static', filename='images/maestro.png') }}" class="card-img-top" height="200" alt="Maestro">
            <div class="card-body">
              <h5 class="card-title">Maestro</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/maestro" class="btn btn-primary">Maestro</a>
           </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
            <img src="{{ url_for('static', filename='images/sandero.png') }}" class="card-img-top" height="200" alt="Sandero">
            <div class="card-body">
              <h5 class="card-title">Sandero</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/sandero" class="btn btn-primary">Sandero</a>
           </div>
          </div>
         </div>
         </div>
        </div>

<!-- Row2-->
<div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
             <img src="{{ url_for('static', filename='images/aygo.png') }}" class="card-img-top" height="200"alt="Aygo">
             <div class="card-body">
             <h5 class="card-title">Aygo</h5>
             <p class="card-text">Text space</p>
             <a href="http://127.0.0.1:8000/aygo" class="btn btn-primary">Aygo</a>
             </div>
          </div>
      </div>
          <div class="col-sm-2">
            <div class="card" style="width: 14rem;">
              <img src="{{ url_for('static', filename='images/ioniq.png') }}" class="card-img-top" height="200" alt="Ioniq">
              <div class="card-body">
              <h5 class="card-title">Ioniq</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/ioniq" class="btn btn-primary">Ioniq</a>
              </div>
            </div>
        </div>
        <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
             <img src="{{ url_for('static', filename='images/rs6.png') }}" class="card-img-top" height="200" alt="RS6">
             <div class="card-body">
               <h5 class="card-title">RS6</h5>
               <p class="card-text">Text Space </p>
               <a href="http://127.0.0.1:8000/rs6" class="btn btn-primary">RS6</a>
            </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
            <img src="{{ url_for('static', filename='images/model3.png') }}" class="card-img-top" height="200" alt="Model3">
            <div class="card-body">
              <h5 class="card-title">Model3</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/model3" class="btn btn-primary">Model3</a>
           </div>
          </div>
         </div>
         <div class="col-sm-2">
          <div class="card" style="width: 14rem;">
            <img src="{{ url_for('static', filename='images/rivian.png') }}" class="card-img-top" height="200" alt="Rivian">
            <div class="card-body">
              <h5 class="card-title">Rivian</h5>
              <p class="card-text">Text space</p>
              <a href="http://127.0.0.1:8000/rivian" class="btn btn-primary">Rivian</a>
           </div>
          </div>
         </div>
         </div>
        </div>


{% endblock %}