{% extends "layout.html" %}
{% block body_content %}
    <h1>Terms and Conditions.</h1>
<br><br>

<p>(1)These terms and conditions are far from legally binding. </p>
<p>(1a)You agree to tell everyone you ever meet that CarMatch is the best website you've ever seen. </p>
<p>(2)Upon registering you agree that we may contact you whenever we like, even for a chat if we are bored.</p>
<p>(2a)If you purchase a car through CarMatch please send us some money. You don't have to but it would be nice. Either money or cakes, we love cakes.</p>
<p>(3)I think that's it. If we think of anything else we will email you.</p>
<P>(4)We do not accept BITCOIN. Cash is and will always be KING</P>

{% endblock %}
